<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Flick Magnet</title>
    <meta name="description" content="Torrent media browser.">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
<%!
import config
brand_name = config.settings['server']['name'] + ' ' + config.settings['server']['version']
%>
        <a class="navbar-brand" href="/">${brand_name}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <form class="form-inline" action="/search">
<%
# @todo get actual search query
search_query = self.attr.q if hasattr(self.attr, 'q') else ''
%>
                <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search..." value="${search_query | h}">
              </form>
            </li>
            <!--
            <li class="nav-item active">
              <a class="nav-link" href="/">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            -->
            <li class="nav-item">
              <a class="nav-link" href="/movies">Movies</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/tv">Shows</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Genres</a>
              <div class="dropdown-menu">
<%
import config
db = config.db_connect()
dbc = db.execute("""
SELECT
  *
FROM
  genre
""")
genres = dbc.fetchall()
%>
% for genre in genres:
  <a class="dropdown-item" href="/search?genre=${genre['name'] | u}">${genre['name'] | h}</a>
% endfor
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/history">History</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/status">Status</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Links
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="https://github.com/acerix/flickmagnet/blob/master/README.md" target="_blank">Documentation</a>
                <a class="dropdown-item" href="https://github.com/acerix/flickmagnet/issues/new" target="_blank">Report Issue</a>
                <a class="dropdown-item" href="https://github.com/acerix/flickmagnet" target="_blank">Source Code</a>
                <a class="dropdown-item" href="http://FlickMag.net/" target="_blank">Project Homepage</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    ${self.body()}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
