<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Flick Magnet</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Flick Magnet 0.0.4<!-- @todo actual server name/version --></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/movies">Movies</a></li>
        <li><a href="/tv">TV Shows</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">By Genre <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/search?tag_id=1">Action</a></li>
            <li><a href="/search?tag_id=2">Adventure</a></li>
            <li><a href="/search?tag_id=3">Animation</a></li>
            <li><a href="/search?tag_id=4">Biography</a></li>
            <li><a href="/search?tag_id=5">Comedy</a></li>
            <li><a href="/search?tag_id=6">Crime</a></li>
            <li><a href="/search?tag_id=7">Documentary</a></li>
            <li><a href="/search?tag_id=8">Drama</a></li>
            <li><a href="/search?tag_id=9">Family</a></li>
            <li><a href="/search?tag_id=10">Fantasy</a></li>
            <li><a href="/search?tag_id=11">Film-Noir</a></li>
            <li><a href="/search?tag_id=12">History</a></li>
            <li><a href="/search?tag_id=13">Horror</a></li>
            <li><a href="/search?tag_id=14">Music</a></li>
            <li><a href="/search?tag_id=15">Musical</a></li>
            <li><a href="/search?tag_id=16">Mystery</a></li>
            <li><a href="/search?tag_id=17">Romance</a></li>
            <li><a href="/search?tag_id=18">Sci-Fi</a></li>
            <li><a href="/search?tag_id=19">Sport</a></li>
            <li><a href="/search?tag_id=20">Thriller</a></li>
            <li><a href="/search?tag_id=21">War</a></li>
            <li><a href="/search?tag_id=22">Western</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search" action="/search">
        <div class="form-group">
          <input type="text" name="q" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Help <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="https://github.com/acerix/flickmagnet/blob/master/README.md" target="_blank">Documentation</a></li>
            <li><a href="https://github.com/acerix/flickmagnet/issues/new" target="_blank">Report an Issue</a></li>
            <li><a href="https://github.com/acerix/flickmagnet" target="_blank">Browse Source Code</a></li>
            <li><a href="http://FlickMag.net/" target="_blank">Project Homepage</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

${self.body()}

</body>
</html>
