<%inherit file="base.html"/>

<div class="container mt-3">

% for r in movies:
  <div class="card">
    <div class="card-header">
      <a href="/title?title_id=${r['id']}">
      ${r['title'] | h}
      % if r['theater_release_year']:
         (${r['theater_release_year']})
      % endif
      </a>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-10 col-sm-8 col-6">
          <p>${r['synopsis'] | h}</p>
          <div class="btn-group" role="group">
            <a class="btn btn-primary" href="/play?title_id=${r['id']}" target="_blank">
              Play
              <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
            </a>
            <a class="btn btn-default" href="http://www.imdb.com/title/tt${'{0:07d}'.format(r['id'])}/" target="_blank">
              IMDb
              <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
            </a>
          </div>
        </div>
        <div class="col-lg-2 col-sm-4 col-6">
          <img src="http://imgdb.pow7.com/title/tt${ format(r['id'], '07') }/poster.jpeg" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
  <br>
% endfor

</div>
