<%inherit file="base.html"/>

<div class="container mt-3">

  <div class="embed-responsive embed-responsive-16by9">
    <video controls preload="auto" autoplay poster="//imgdb.pow7.com/title/tt${ format(title_id, '07') }/poster.jpeg">
      <source src="${ '/torrents/' + release_videos[0]['hash'] + '/' + release_videos[0]['filename'] }" type="video/mp4">
    </video>
  </div>

  <br>

  <div class="card">
    <div class="card-body">
      <div class="btn-group" role="group" aria-label="...">
        <a class="btn btn-default" href="/xspf?title_id=${title_id}${ '&season=' + season if season else '' }${ '&episode=' + episode if episode else '' }">XSPF Playlist</a>
        <a class="btn btn-default" href="/m3u?title_id=${title_id}${ '&season=' + season if season else '' }${ '&episode=' + episode if episode else '' }">M3U Playlist</a>
      </div>
    </div>
  </div>

</div>
