<%inherit file="base.html"/>

<div class="container mt-3">

  <div class="card">
    <div class="card-header">
      ${title}
    </div>
    <div class="card-body">
      <div class="btn-group" role="group" aria-label="...">
        <a class="btn btn-primary" href="/play?title_id=${title_id}">Watch</a>
        <a class="btn btn-default" href="/xspf?title_id=${title_id}">XSPF Playlist</a>
        <a class="btn btn-default" href="/m3u?title_id=${title_id}">M3U Playlist</a>
      </div>
    </div>
  </div>

</div>
