<%inherit file="base.html"/>

<div class="container mt-3">

  <div class="panel panel-default">
    <div class="panel-heading">${title}</div>
    <div class="panel-body">
    <div class="btn-group" role="group" aria-label="...">
      <a class="btn btn-default" href="/stream">Download Video</a>
      <a class="btn btn-default" href="/xspf">Open in Video Player</a>
    </div>

    </div>
  </div>

  <div class="embed-responsive embed-responsive-16by9">
    <video controls preload="auto" autoplay poster="http://imgdb.pow7.com/title/tt${ format(title_id, '07') }/poster.jpeg">
      <source src="/stream" type="video/mp4">
    </video>
  </div>

</div>
