<%inherit file="base.html"/>

<div class="container">

<p>Coming soon!</p>

<table class="table">
% for r in episodes:
    <tr>
        <td>
            ${r['series_name'] | h}
        </td>
        <td>
            ${'S{0:02d}E{1:02d}'.format(r['season_number'], r['number'])}
        </td>
        <td>
            ${r['synopsis'] | h}
        </td>
        <td>
            <a href="http://www.imdb.com/title/tt${'{0:07d}'.format(r['id'])}" target="_blank">
                IMDB
            </a>
        </td>
        <td>
            <a href="/play?entity_type=episode&amp;entity_id=${r['id']}" target="_blank">
                Play
            </a>
        </td>
    </tr>
% endfor
</table>

</div>
