[Unit]
Description=Flick Magnet Server
After=network.target

[Service]
User=flickmagnet
Group=flickmagnet
Type=simple
ExecStart=/usr/bin/flickmagnet
PrivateTmp=true

[Install]
WantedBy=multi-user.target
