[Unit]
Description=Flick Magnet Server
After=network.target

[Service]
User=flickmagnet
Group=flickmagnet

Type=simple
ExecStart=/usr/bin/python3 "`python -c "from distutils.sysconfig import get_python_lib; print(get_python_lib())"`"/flickmagnet/flickmagnet.py

PrivateTmp=true

[Install]
WantedBy=multi-user.target
